{{- $tenantId := include "logclaw.tenantId" . -}}
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: {{ include "logclaw-platform.fullname" . }}-secretstore
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "logclaw-platform.labels" . | nindent 4 }}
  annotations:
    logclaw.io/tenant-id: {{ $tenantId | quote }}
spec:
  provider:
    {{- if eq .Values.global.secretStore.provider "aws" }}
    aws:
      service: SecretsManager
      region: {{ .Values.global.secretStore.aws.region | required "global.secretStore.aws.region is required for aws provider" | quote }}
      auth:
        jwt:
          serviceAccountRef:
            name: {{ include "logclaw-platform.serviceAccountName" . }}
            namespace: {{ .Release.Namespace }}
    {{- else if eq .Values.global.secretStore.provider "gcp" }}
    gcpsm:
      projectID: {{ .Values.global.secretStore.gcp.projectId | required "global.secretStore.gcp.projectId is required for gcp provider" | quote }}
      auth:
        workloadIdentity:
          clusterLocation: {{ .Values.global.secretStore.gcp.clusterLocation | default "us-central1" | quote }}
          clusterName: {{ .Values.global.secretStore.gcp.clusterName | required "global.secretStore.gcp.clusterName is required for gcp provider" | quote }}
          serviceAccountRef:
            name: {{ include "logclaw-platform.serviceAccountName" . }}
            namespace: {{ .Release.Namespace }}
    {{- else if eq .Values.global.secretStore.provider "vault" }}
    vault:
      server: {{ .Values.global.secretStore.vault.server | required "global.secretStore.vault.server is required for vault provider" | quote }}
      path: {{ .Values.global.secretStore.vault.path | default "secret" | quote }}
      version: {{ .Values.global.secretStore.vault.version | default "v2" | quote }}
      {{- if .Values.global.secretStore.vault.namespace }}
      namespace: {{ .Values.global.secretStore.vault.namespace | quote }}
      {{- end }}
      auth:
        kubernetes:
          mountPath: {{ .Values.global.secretStore.vault.auth.mountPath | default "kubernetes" | quote }}
          role: {{ .Values.global.secretStore.vault.auth.role | default (printf "logclaw-%s" $tenantId) | quote }}
          serviceAccountRef:
            name: {{ include "logclaw-platform.serviceAccountName" . }}
            namespace: {{ .Release.Namespace }}
    {{- else if eq .Values.global.secretStore.provider "azure" }}
    azurekv:
      authType: WorkloadIdentity
      vaultUrl: {{ .Values.global.secretStore.azure.vaultUrl | required "global.secretStore.azure.vaultUrl is required for azure provider" | quote }}
      serviceAccountRef:
        name: {{ include "logclaw-platform.serviceAccountName" . }}
        namespace: {{ .Release.Namespace }}
    {{- else }}
    {{- fail (printf "Unsupported global.secretStore.provider: %s. Must be one of: aws, gcp, vault, azure" .Values.global.secretStore.provider) }}
    {{- end }}
