apiVersion: v1
kind: Service
metadata:
  name: {{ include "logclaw-bridge.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "logclaw-bridge.labels" . | nindent 4 }}
  {{- with .Values.podAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "logclaw-bridge.selectorLabels" . | nindent 4 }}
