external-secrets:
  installCRDs: true
  replicaCount: 2
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "500m"
      memory: "512Mi"
  webhook:
    replicaCount: 2
    resources:
      requests:
        cpu: "50m"
        memory: "64Mi"
      limits:
        cpu: "200m"
        memory: "128Mi"
  certController:
    replicaCount: 1
  serviceMonitor:
    enabled: true
