apiVersion: v1
kind: LimitRange
metadata:
  name: {{ include "logclaw-tenant.fullname" . }}-limits
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "logclaw-tenant.labels" . | nindent 4 }}
spec:
  limits:
    - type: Container
      default:
        cpu: "500m"
        memory: "512Mi"
      defaultRequest:
        cpu: "100m"
        memory: "128Mi"
      max:
        cpu: "8"
        memory: "32Gi"
      min:
        cpu: "50m"
        memory: "64Mi"
    - type: PersistentVolumeClaim
      max:
        storage: "10Ti"
      min:
        storage: "1Gi"
