watchAnyNamespace: false
watchNamespaces: []
generateNetworkPolicy: true
featureGates: ""
logLevel: "INFO"
replicas: 1
resources:
  requests:
    cpu: "200m"
    memory: "384Mi"
  limits:
    cpu: "1"
    memory: "768Mi"
